In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

In [2]:
train_data = pd.read_csv("train.csv")
train_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
train_data.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [4]:
train_data.shape

(7613, 5)

In [5]:
train_data.location.nunique()

3341

In [6]:
menu = train_data.keyword.unique()
menu = np.delete(menu, 0) # the existing keywords can be found in the text to replace the null values

In [7]:
menu

array(['ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [9]:

import spacy

from spacy.lang.en import English
from spacy.matcher import PhraseMatcher

nlp = spacy.blank('en')

# Create the PhraseMatcher object. The tokenizer is the first argument. Use attr = 'LOWER' to make consistent capitalization
matcher = PhraseMatcher(nlp.vocab, attr='LOWER')

# Create a list of tokens for each item in the menu
menu_tokens_list = [nlp(item) for item in menu]
 
matcher.add("MENU",            # Just a name for the set of rules we're matching to
           menu_tokens_list  
          )

from collections import defaultdict

# item_ratings is a dictionary of lists. If a key doesn't exist in item_ratings,
# the key is added with an empty list as the value.


for id, text in train_data.iterrows():
    doc = nlp(text.text)
    # Using the matcher from the previous exercise
    matches = matcher(doc)
    
    # Create a set of the items found in the review text
    found_items =  set([doc[match[1]:match[2]] for match in matches])
#     found_items =  set([doc[match[1]:match[2]].lower_ for match in matches])
    
    # Update item_ratings with rating for each item in found_items
    # Transform the item strings to lowercase to make it case insensitive
    for item in found_items:
        if( pd.isna( train_data.keyword[id]) ):
            train_data.keyword[id] = str(item).lower()

<ipython-input-9-e0b74b55ab2d>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.keyword[id] = str(item).lower()

In [10]:
train_data.head()

,id,keyword,location,text,target
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,1
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,smoke,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [11]:
print(train_data.location.isnull().sum())
menu2 = train_data.location.unique()
menu2 = np.delete(menu2,0)

2533

In [12]:
train_data.location.unique()

array([nan, 'Birmingham', 'Est. September 2012 - Bristol', ...,
       'Vancouver, Canada', 'London ', 'Lincoln'], dtype=object)

In [13]:
matcher2 = PhraseMatcher(nlp.vocab, attr='LOWER')

# Create a list of tokens for each item in the menu
menu2_tokens_list = [nlp(item) for item in menu2]
 
matcher2.add("MENU",            # Just a name for the set of rules we're matching to
           menu2_tokens_list  
          )

for id, text in train_data.iterrows():
    doc = nlp(text.text)
    # Using the matcher from the previous exercise
    matches2 = matcher2(doc)
    
    # Create a set of the items found in the review text
    found_items =  set([doc[match[1]:match[2]] for match in matches2])

    for item in found_items:
        if( pd.isna( train_data.location[id]) ):
            train_data.location[id] = str(item).lower()

<ipython-input-13-9b5db42b489b>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.location[id] = str(item).lower()

In [14]:
train_data.head()

,id,keyword,location,text,target
0,1,earthquake,us,Our Deeds are the Reason of this #earthquake M...,1
1,4,fire,la,Forest fire near La Ronge Sask. Canada,1
2,5,evacuation,in,All residents asked to 'shelter in place' are ...,1
3,6,evacuation,california,"13,000 people receive #wildfires evacuation or...",1
4,7,smoke,alaska,Just got sent this photo from Ruby #Alaska as ...,1

In [15]:
train_data.location.describe()

count     6507
unique    3448
top         in
freq       431
Name: location, dtype: object

In [16]:
print(train_data.isnull().sum())
train_data.dropna(inplace=True)
train_data.shape

id             0
keyword       23
location    1106
text           0
target         0
dtype: int64

(6497, 5)

In [17]:
train_data = train_data[train_data.location != 'in']

In [18]:
train_data.reset_index()
train_data.head()
print(train_data.isnull().sum())

id          0
keyword     0
location    0
text        0
target      0
dtype: int64

In [19]:
train_data.target.unique()

array([1, 0], dtype=int64)

In [20]:
test_data = pd.read_csv("test.csv")
print(test_data.isnull().sum(),test_data.shape)
test_data.head()

id             0
keyword       26
location    1105
text           0
dtype: int64 (3263, 4)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [21]:
test_data.keyword.describe()

count        3237
unique        221
top       deluged
freq           23
Name: keyword, dtype: object

In [22]:
test_data.location.describe()

count         2158
unique        1602
top       New York
freq            38
Name: location, dtype: object

In [23]:
menu3 = test_data.location.unique()
menu3 = np.delete(menu3,0)
menu3 = np.concatenate((menu3,menu2))
menu3

array(['London', "Niall's place | SAF 12 SQUAD |", 'NIGERIA', ...,
       'Vancouver, Canada', 'London ', 'Lincoln'], dtype=object)

In [24]:
matcher3 = PhraseMatcher(nlp.vocab, attr='LOWER')

# Create a list of tokens for each item in the menu
menu3_tokens_list = [nlp(item) for item in menu3]
 
matcher3.add("MENU",            # Just a name for the set of rules we're matching to
           menu3_tokens_list  
          )

for id, text in test_data.iterrows():
    doc = nlp(text.text)
    # Using the matcher from the previous exercise
    matches3 = matcher3(doc)
    
    # Create a set of the items found in the review text
    found_items =  set([doc[match[1]:match[2]] for match in matches3])

    for item in found_items:
        if( pd.isna( test_data.location[id]) ):
            test_data.location[id] = str(item).lower()

<ipython-input-24-6836fb074ae3>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.location[id] = str(item).lower()

In [25]:
menu4 = test_data.keyword.unique()
menu4 = np.delete(menu4,0)
menu4 = np.concatenate((menu4,menu))
menu4

matcher4 = PhraseMatcher(nlp.vocab, attr='LOWER')

# Create a list of tokens for each item in the menu
menu4_tokens_list = [nlp(item) for item in menu4]
 
matcher4.add("MENU",            # Just a name for the set of rules we're matching to
           menu4_tokens_list  
          )

for id, text in test_data.iterrows():
    doc = nlp(text.text)
    # Using the matcher from the previous exercise
    matches4 = matcher4(doc)
    
    # Create a set of the items found in the review text
    found_items =  set([doc[match[1]:match[2]] for match in matches4])

    for item in found_items:
        if( pd.isna( test_data.keyword[id]) ):
            test_data.keyword[id] = str(item).lower()

<ipython-input-25-f4709b06f198>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.keyword[id] = str(item).lower()

In [26]:
test_data.head(10)

   id     keyword location                                               text
0   0       crash      NaN                 Just happened a terrible car crash
1   2  earthquake      NaN  Heard about #earthquake is different cities, s...
2   3        fire      NaN  there is a forest fire at spot pond, geese are...
3   9  apocalypse      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     typhoon       in      Typhoon Soudelor kills 28 in China and Taiwan
5  12  earthquake      NaN                 We're shaking...It's an earthquake
6  21         NaN        ?  They'd probably still show more life than Arse...
7  22         NaN        ?                                  Hey! How are you?
8  27         NaN        ?                                   What a nice hat?
9  29         NaN      NaN                                          Fuck off!

In [30]:

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

count_vectorizer = feature_extraction.text.CountVectorizer()
train_vectors = count_vectorizer.fit_transform(train_data["text"])
test_vectors = count_vectorizer.transform(test_data["text"])

from sklearn.svm import SVC
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
# scores = model_selection.cross_val_score(clf, train_vectors, train_data["target"], cv=3, scoring="f1")
# scores

In [31]:
clf.fit(train_vectors, train_data["target"])

ValueError: Cannot center sparse matrices: pass `with_mean=False` instead. See docstring for motivation and alternatives.

In [ ]:
bruh = clf.predict(test_vectors)

In [ ]:
bruh

In [ ]:
damn = pd.DataFrame(test_data['id'])

In [ ]:
damn.head()

In [ ]:
damn['target'] = bruh
damn

In [ ]:
damn = damn.reset_index(drop=True)

In [ ]:
damn.to_csv('what2.csv',index = False)